<h1 id="page_title">Admin Tools</h1>
		
<div class="wrapper wrapper_padding admin clearfix">
	<div class="add_client"><h5>Add Client</h5></div>
	<div class="add_category">
		<h5>Add Category</h5>
		<%= render 'form' %>
		<h5>Delete Category</h5>
		<%= form_for admin_index_path, method: :delete, data: { confirm: 'Are you sure?' } do |f| %>
			<%= f.collection_select :category, Category.all, :id, :name %>
			<%= f.submit "Delete Category" %>
		<% end %>
	</div>
	<div class="list_clients"><h5>Client Listings</h5></div>
</div>