<h1 id="page_title">Admin Tools</h1>
		
<div class="wrapper wrapper_padding admin clearfix">
	<div class="add_client"><h5>Add Client</h5></div>
	<div class="add_category">
		<h5>Add Category</h5>
		<%= render 'form' %><br>
	</div>
	<div class="list_clients"><h5>Client Listings</h5></div>
</div>