		<div class="jumbotron">
			<h1>HEAR SOMETHING YOU LIKED?</h1>
			<h2>Find out more about our advertisers and get in contact with<br />
them fast with the Edmonton Business Directory!</h2>
		</div>
		
		<div class="wrapper wrapper_padding clearfix">
			<div class="col-1 about homepage_content">
				<h2>What is the Biz Directory</h2>
				<hr>
				<p>Nihil poutine esse ex squid. Excepteur 3 wolf moon nulla odio humblebrag. Gastropub sed deep v synth art party. Affogato twee <a href="#">brooklyn</a>, aliqua 				bushwick placeat four dollar toast pitchfork et meggings wayfarerspost-ironic narwhal.Normcore intelligentsia austin humblebrag drinking vinegar assumenda.</p>

				<p>Sriracha voluptate four dollar toast, migas heirloom reprehenderit whatever butcher you probably haven't heard of them freegan yr duis kickstarter chartreuse. Neutra meggings kombucha, bespoke esse four loko veniam enim helvetica gluten-free locavore.</p>
				<a href="#"><img src="/assets/logo_cisn.png" /></a><a href="#"><img src="/assets/logo_ched.png" /></a><a href="#"><img src="/assets/logo_fresh.png" /></a><a href="#"><img src="/assets/logo_chqt.png" style="padding-left: 20px;" /></a>
			</div>
			<div class="col-2 search homepage_content">
				<h2>Search For A Business</h2>
				<hr>
				<form>
					<h6>Search By Category</h6>
					<select name='category' id="category">
						<option value="value1">Apparel</option>
						<option value="value2">Automotive</option>
					</select>
					<h6>Search Alphabetically</h6>
					<select name='alphabet' id="alphabet">
						<option value="value1">A</option>
						<option value="value2">B</option>
						<option value="value3">C</option>
						<option value="value4">D</option>
						<option value="value5">E</option>
						<option value="value6">F</option>
						<option value="value7">G</option>
						<option value="value8">H</option>
						<option value="value9">I</option>
						<option value="value10">J</option>
						<option value="value11">K</option>
						<option value="value12">L</option>
						<option value="value13">M</option>
						<option value="value14">N</option>
						<option value="value15">O</option>
						<option value="value16">P</option>
						<option value="value17">Q</option>
						<option value="value18">R</option>
						<option value="value19">S</option>
						<option value="value20">T</option>
						<option value="value21">U</option>
						<option value="value22">V</option>
						<option value="value23">W</option>
						<option value="value24">X</option>
						<option value="value25">Y</option>
						<option value="value26">Z</option>
					</select>
					</form>
					<h6>Search By Name</h6>
					<%= form_tag search_businesses_path, method: :get, role: "search" do %>
						<p>
							<%= text_field_tag :search, params[:search], class: "form-control", :placeholder => 'Search Businesses' %>
							<%= submit_tag ">", name: nil, class: "button" %>
						</p>
					<% end %>
				
			</div>
			<div class="col-3 who homepage_content">
				<h2>Who Are We?</h2>
				<hr>
				<p>Corus Radio Edmonton is a powerhouse is the Canadian radio market. With 4 stations in a market of 28, we 				still manage to stay in the top 5 for our 				demographics.</p>
				<h2 class="second_header">Want To Advertise With Us?</h2>
				<hr>
				<p>You can more information about many of our friends. Details about what they offer. And you may even hear 				one or two commercials that deserve closer attention.</p>
					<%= link_to "Contact Us", new_contact_path, class: "button" %>
			</div>
		</div>